.dropdown-search {
	padding: 10px 15px;
}

body {
	background-color: #000;
}

#carousel-1 {
	margin: 0 auto;
	max-width: 1000px;
}

.skate-carousel {
	background-color: #000000;
	width: 100%;
}

.navbar {
	background-color: #2B5BE8;
}

.btn-info {
	background-color: #000;
}

.dropdown-menu {
	background-color: #000;
}

.navbar-brand {
	font-size: 1.875em;
	color: #fff;
}

.dropdown-menu a {
	color: #fff;
}

.navbar-brand:visited, .dropdown-menu a:visited {
	color: #fff;
}

.dropdown {
	background-color: #000;
}

.carousel-caption h1 {
	font-size: 3.75em;
}

.jumbotron {
	background-color: #2B5BE8;
	color: #fff;
	text-align: center;

}

.col-md-8, .col-md-4 {
	background-color: #000;
	color: #fff;
}

.col-md-8 h1, .col-md-8 h2, .cole, .riley, .zero, .col-md-4 h1, .col-md-4 h2 {
	text-align: center;
}
