.dropdown-search {
	padding: 10px 15px;
}

#carousel-1 {
	margin: 0 auto;
	max-width: 1000px;
}

.skate-carousel {
	background-color: #000000;
	width: 100%;
	padding-top: 5%;
}

img {
	width: 100%;
	height: auto;
}