.dropdown-search {
	padding: 10px 15px;
}

#carousel-1 {
	margin: 0 auto;
	max-width: 1000px;
}

.skate-carousel {
	background-color: #000000;
	width: 100%;
	padding-top: 3%;
}

.navbar {
	background-color: #E83D31;
}

.btn-danger {
	background-color: #000;
}

.dropdown-menu {
	background-color: #000;
}

.navbar-brand {
	font-size: 1.875em;
	color: #fff;
}

.dropdown-menu a {
	color: #fff;
}

.navbar-brand:visited, .dropdown-menu a:visited {
	color: #fff;
}

.dropdown {
	background-color: #000;
}

.carousel-caption h1 {
	font-size: 3.75em;
}

.jumbotron {
	background-color: #E83D31;

}